<div fxLayout="column" fxLayoutGap="2%" style="margin:20px">
<div fxFlex="10" fxLayout="row">
    <h2 fxFlex="90">Search Filters</h2>
<div fxFlex="5%">
    <button mat-raised-button><mat-icon>close</mat-icon></button>
</div> 
<div fxFlex="5%"></div>
</div>
<h2 fxFlex="10%">Sort By</h2>
<div fxFlex="10%" fxLayout="row" fxLayoutGap="5%">
    <button mat-raised-button color="warn" fxFlex="10"><mat-icon>whatshot</mat-icon></button>
<div fxFlex="10%" class="open">open</div>
</div>
<h2 fxFlex="10%">Cuisine</h2>
<div fxFlex="10%" fxLayout="row" fxLayoutGap="5%">
    <button mat-raised-button disabled fxFlex="5" style="color: darkorange; background-color:lightgoldenrodyellow">All</button>
    <button mat-raised-button disabled fxFlex="29">Fast Food</button>
    <button mat-raised-button disabled fxFlex="60">American Food</button>
</div>
<div fxFlex="10%" fxLayout="row" fxLayoutGap="5%">
    <button mat-raised-button disabled fxFlex="10">Pizza</button>
    <button mat-raised-button disabled fxFlex="10">Asian</button>
    <button mat-raised-button disabled fxFlex="20">Dessert</button>
    <button mat-raised-button disabled fxFlex="20">Mexican</button>
</div>
<div fxFlex="10%">
    <button mat-raised-button disabled fxFlex="30">Breakfast</button>
</div>
<div fxFlex="10%" style="color:orange">See more</div>
<button mat-raised-button color="primary" class="btn">Apply Filters</button>
</div>
