/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text {
    display: flex;
    flex-direction: row !important;
    flex: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option { 
    display: block;
    height: 48px;
    -webkit-tap-highlight-color: blue !important;
    width: 100%;
    padding: 0;
}

// .mat-list-base .mat-list-option {
//     color: grey;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
